*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
node_modules/
.env
*.db
*.log
.kotlin/

New Server updated parallely for web app(with tested code)/
